:root {
    height: 100%;
}

.card {
    width: 200px;
    background-color: rgb(7, 80, 7);
    padding: 10px;
    margin: 40px auto 0 auto;
  }

p {
    text-align: center;
    color: white;
}

.top {
    margin-left: auto;
    margin-right: auto;
    width: 137px;
    
}